/*////////// SETUP AND LAYOUT ////////// */

.overlay,
.overlay .project-button,
.overlay .menu-wrapper {
    -webkit-transition: top 0.25s ccubic-bezier(0.05, 0.48, 0.46, 0.95), opacity 0.25s cubic-bezier(0.05, 0.79, 0.45, 0.95); /* Safari 3.1 to 6.0 */
    transition: top 0.25s cubic-bezier(0.05, 0.79, 0.45, 0.95), opacity 0.25s cubic-bezier(0.05, 0.79, 0.45, 0.95);
}

.overlay {
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    height: 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.overlay .menu-wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
}

/* Position the content inside the overlay */
.overlay-content {
    opacity: 1;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    /* margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay .project-button {
    position: relative;
    padding: 24px;
    text-decoration: none;
    font-size: 48px;
    color: #fff;
    display: block; /* Display block instead of inline */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #bbb;
}

/* Position the close button (top right corner) */
.overlay .close-button {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    padding: 24px;
    text-decoration: none;
    font-size: 48px;
    color: #fff;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*////////// DEFAULT STATES OF ANIMATED PROPERTIES ////////// */

.overlay {
    top: -100vh;
    opacity: 0;
}

.overlay .menu-wrapper {
    opacity: 0;
}

.overlay .project-button {
    opacity: 0;
    top: -300px;
}

/*////////// OPENING ////////// */

.overlay.overlay-open {
    top: 0vh;
    opacity: 1;
}

.overlay.overlay-open .menu-wrapper {
    opacity: 1;
}

.overlay.overlay-open .overlay-content .project-button {
    opacity: 1;
    top: 0px;

}

.overlay.overlay-open .overlay-content .project-button:nth-child(1) {
    transition-delay: 0.40s;
}

.overlay.overlay-open .overlay-content .project-button:nth-child(2) {
    transition-delay: 0.35s;
}

.overlay.overlay-open .overlay-content .project-button:nth-child(3) {
    transition-delay: 0.30s;
}


/*////////// CLOSEING ////////// */

.overlay.overlay-closing {
    top: 0vh;
    opacity: 1;
}

.overlay.overlay-closing .menu-wrapper {
    opacity: 1;
}

.overlay.overlay-closing .overlay-content .project-button {
    top: 0px;
    opacity: 0;
}

.overlay.overlay-closing .overlay-content .project-button:nth-child(1) {
    transition-delay: 0.05s;
}

.overlay.overlay-closing .overlay-content .project-button:nth-child(2) {
    transition-delay: 0.1s;
}

.overlay.overlay-closing .overlay-content .project-button:nth-child(3) {
    transition-delay: 0.15s;
}
